

<p style="color:blue"> Iscoop is for when you want to keep up with the days tech news but don't have the time or the attention span to read full length aricles.</p>

<p> Why dont you make other people's lives easier by summarising or paraphrasing interesting tech articles in <b>300 characters or less</b> and sharing it with the community on iscoop</P>

<%= button_to "Enter site", home_path, :method => "get" %>

