<p> Iscoop is a social news community just like reddit and hackernews.</p>
<P> The diffference is that with Iscoop you don't only share the title and a link to an article, you also share the 3 main points from the article.Each point should be 90 characters or less</p>

<p> By sharing the main points from an article, you are helping the community decide if a certain article is worth their attention before commiting to reading it in full</p>

<li><%= link_to "Enter site", home_path %></li>