<p> Iscoop is a <b>social news community</b> just like reddit and hackernews, that enables people to share links to interesting articles</p>
<P> The diffference is that with Iscoop you don't only share the title  you also share the <b>3 main points</b> from the article. Each point should be <b>90 characters or less</b></p>

<p> By sharing the main points from an article, you are helping the community decide if a certain article is worth their attention before commiting to reading it in full</p>

<%= link_to "Enter site", home_path %>