<p> Iscoop is a <b>social news community</b> just like reddit and hackernews, that enables people to share links to interesting articles</p>
<P> With Iscoop you don't only share the title and a link to the article you also share the <b>3 main points</b> from the article, each point should be <b>90 characters or less</b></p>
<p> Sharing the main points help readers  know what the article is about without reading the full article </P>

<%= link_to "Enter site", home_path %>

<hr>