

<p> Iscoop is for when you want to keep up with the days tech news but don't have the time or the attention span to read full length aricles.</p>

<p> You have an interesting tech article that you have read want to share? just click on share to share the story in <b>300 characters or less</b></P>

<%= button_to "Enter site", home_path, :method => "get" %>

