
<h3 style="font-family:Alright Sans;margin-bottom:25px;color:#3333D6;margin-top:-5px"> Be informed without reading news articles</h3>

<ul style="list-style-type:none;padding: 0px; margin: 0px">

<li style="background-image:url(blueline.gif);background-repeat: no-repeat;background-position: 0px 0px;padding-left: 14px;" ><span> 
<p style="font-family:Open Sans;font-size:17px;margin-bottom:25px;font-weight:light"> Iscoop lets anyone paraphrase news articles from around the web and share on Iscoop.</p></span></li>


<li style="background-image:url(blueline.gif);background-repeat: no-repeat;background-position: 0px 0px;padding-left: 14px;" ><span> 
<P style="font-family:Open Sans;font-size:17px;margin-bottom:25px;font-weight:light"> You paraphrase the full article in 3 points and each point should be <b> 90 characters or less</b></p></span></li>


<li style="background-image:url(blueline.gif);background-repeat: no-repeat;background-position: 0px 0px;padding-left: 14px;" ><span> 
<p style="font-family:Open Sans;font-size:17px;margin-bottom:25px;font-weight:light"> The goal is to help others find out what's going on in the world without reading long news articles</P></span></li>

</ul>

<%= link_to "Enter site", home_path %>

<hr>