<ul style="list-style-type:none;padding: 0px; margin: 0px">

<li style="background-image:url(blueline.gif);background-repeat: no-repeat;background-position: 0px 0px;padding-left: 14px;" ><span> 
<p style="font-family:Open Sans;font-size:17px;margin-bottom:25px;font-weight:light"> Iscoop is a <b>social news community</b> just like reddit and hackernews, where anyone can share links to interesting articles</p></span></li>


<li style="background-image:url(blueline.gif);background-repeat: no-repeat;background-position: 0px 7px;padding-left: 14px;" ><span> 
<P style="font-family:Open Sans;font-size:17px;margin-bottom:25px;font-weight:light"> With Iscoop you don't only share the title and a link to the article you also share the <b>3 main points</b> from the article, each point should be <b>90 characters or less</b></p></span></li>


<li style="background-image:url(blueline.gif);background-repeat: no-repeat;background-position: 0px 0px;padding-left: 14px;" ><span> 
<p style="font-family:Open Sans;font-size:17px;margin-bottom:25px;font-weight:light"> Sharing the main points help readers  know what the article is about without reading the full article </P></span></li>

</ul>

<%= link_to "Enter site", home_path %>

<hr>