

<p style="color:blue"> Iscoop is a tech news reader. It summarises all the important tech news stories and present it in the form of a status update.

 is for when you want to keep up with the days tech news but don't have the time or the attention span to read full length aricles.</p>

<p> What is interesting is that all the sumarisation is done by the community, people like youAfter reading an interesting tech article, Summarise it in <b>300 characters or less</b> and share it with the iscoop community</P>

<% if user_signed_in? %>
<%= button_to "ENTER SITE", home_path,:method => "get" %>
<% else %>
<%= button_to "SIGN IN", new_user_session_path,:method => "get" %>
<br>
<%= button_to "SIGN UP", new_user_registration_path,:method => "get" %>
<% end %>



