    <div id="posts">
    <% @posts.each do |post| %>
    <div class="box panel panel-default">
        <%= post.summary %>
        <div class="panel-body">
       <p> source: <%= post.source %></p>
       <p> posted <%= time_ago_in_words(post.created_at) %> ago.</p>
          by <%= post.user.email if post.user %>
      </div>
    </div>
  <% end %>
</div>
  



