// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.bullet1 {
  color: red; /* bullet color */
}

.bullet2 {
  color: blue; /* bullet color */
}

.bullet3 {
  color: green; /* bullet color */
}


li span {
  color: black; /* text color */
}

